body {
    background-image: url('register-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
hr {
margin-top: 30px;
margin-bottom: 30px;
border: 1px solid #e4e4e4;
}
.signup-container {
    max-width: 600px;
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .form-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  label {
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    color: #555;
    background-color: #e4e4e4;
    margin-top: 4px;
    box-sizing: border-box;
  }

  .register-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #373b3e;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  .register-button:hover {
    background-color: #005700;
  }